body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-display: swap;
    --green-1: #35cb88;
    --green-2: #26c77f;
    --green-3: #19c377;
    --green-4: #1abb73;
    --green-5: #18b36e;
}

a {
    text-decoration: none;
}

section:not(.landing-section) {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (max-width: 424px) {
    section {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.section-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    margin-bottom: 5rem;
}

.section-title span {
    padding-bottom: 1rem;
    border-bottom: 1px solid #95e0be;
}

.section-subtitle {
    color: #fff;
    padding: 0 5rem;
    font-size: 0.9rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
@media (max-width: 719px) {
    .section-subtitle {
        padding: 0 2rem;
        line-height: 1.3rem;
    }
}
@media (max-width: 424px) {
    .section-subtitle {
        padding: 0;
    }
}
.section-title + .section-subtitle {
    margin-top: -1.5rem;
    margin-bottom: 4rem;
}

.fa {
    display: inline-block;
}



/* -----------------------------------------------------------------  */

/*                             Landing                                */

/* -----------------------------------------------------------------  */

.landing-section {
    height: 100vh;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    text-align: right;
}
@media (max-width: 719px) {
    .landing-section {
        background-position: bottom right;
    }
}

.landing-section h1 {
    margin-top: 7rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    display: inline-block;
}
@media (max-width: 719px) {
    .landing-section h1 {
        margin-top: 5rem;
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
    }
}

.landing-section .bottom-line {
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
}
@media (max-width: 719px) {
    .landing-section .bottom-line {
        margin-bottom: 0.5rem;
    }
}

.site-subtitle {
    font-size: 1.5rem;
}
@media (max-width: 719px) {
    .site-subtitle {
        font-size: 1.2rem;
    }
}



/* -----------------------------------------------------------------  */

/*                          About section                             */

/* -----------------------------------------------------------------  */

.about-section {
    background: var(--green-1);
}

section.about-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
@media (min-width: 720px) {
    section.about-section {
        padding-top: 11rem;
        padding-bottom: 11rem;
    }
}

.about-section p {
    padding: 0 3rem;
    max-width: 700px;
    margin: 0 auto 1rem;
    text-align: center;
}
@media (max-width: 424px) {
    .about-section p {
        padding: 0 1rem;
    }
}

.about-section a {
    color: #16442f;
}
.about-section a:hover,
.about-section a:active {
    color: #fff;
}



/* -----------------------------------------------------------------  */

/*                          Skill section                             */

/* -----------------------------------------------------------------  */

.skill-section {
    text-align: center;
    background: var(--green-2);
}

.skill-section img {
    max-width: 50vw;
}
@media (max-width: 719px) {
    .skill-section img {
        max-width: 90vw;
    }
}



/* -----------------------------------------------------------------  */

/*                       Site section (gallery)                       */

/* -----------------------------------------------------------------  */

.site-section {
    background: var(--green-3);
}
@media (min-width: 425px) {
    .site-section {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (min-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

.grid-item > a {
    display: flex;
    align-content: center;
    height: 100%;
    border: 3px solid #fff;
    background: #fff;
}
@media (min-width: 1025px) {
    .grid-item > a {
        border-width: 5px;
    }
}
@media (max-width: 719px) {
    .grid-item > a {
        margin-bottom: 1rem;
    }
}

.grid-item > a:hover img,
.grid-item > a:active img {
    transform: scale(0.95);
    filter: saturate(30%);
}

.grid-item img {
    transition: all 0.3s;
    max-width: 100%;
}

.gi-1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.gi-2 {
    grid-column: 3 / 5;
    grid-row: 1;
}

.gi-3 {
    grid-column: 1;
    grid-row: 2;
}

.gi-4 {
    grid-column: 2 / 4;
    grid-row: 2;
}

.gi-5 {
    grid-column: 4;
    grid-row: 2;
}

.gi-6 {
    grid-column: 1;
    grid-row: 3;
}

.gi-7 {
    grid-column: 2;
    grid-row: 3;
}

.gi-8 {
    grid-column: 3 / 5;
    grid-row: 3;
}



/* -----------------------------------------------------------------  */

/*                             Tool section                           */

/* -----------------------------------------------------------------  */

.tool-section {
    background: var(--green-4);
}

.tool-section .columns {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (max-width: 719px) {
    .tool-section .columns {
        text-align: center;
    }
}

@media (min-width: 720px) {
    .tool-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }
}

.tool-title {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

.tool-title-wrap a {
    padding: 0.5rem;
}

.tool-title-wrap a:hover .fa,
.tool-title-wrap a:active .fa {
    color: #fff;
}

.tool-title-wrap a .fa {
    color: #222;
    transition: color 0.3s;
    font-size: 1.5rem;
}

.tool-section .columns p {
    margin-bottom: 0.5rem;
}



/* -----------------------------------------------------------------  */

/*                      Contact section (icons)                       */

/* -----------------------------------------------------------------  */

.contact-section {
    text-align: center;
    background: var(--green-5);
}

.contact-section a {
    margin: 2rem;
    color: #333;
    border-color: #333;
}
.contact-section a:hover,
.contact-section a:active {
    color: #fff;
    border-color: #fff;
}

.contact-section a i,
.contact-section a span {
    transition: all 0.3s;
}

.contact-section .fa {
    font-size: 1rem;
}



/* -----------------------------------------------------------------  */

/*                               Footer                               */

/* -----------------------------------------------------------------  */

footer {
    background: #222;
    color: #9a9a9a;
    text-align: center;
    padding: 1rem;
    line-height: 1rem;
}

footer p {
    margin-bottom: 0.25rem;
}

footer small {
    display: block;
}
@media (min-width: 425px) {
    footer small {
        display: inline;
    }
    footer small:not(:first-child) {
        margin-left: 0.1rem;
    }
    footer small:not(:first-child)::before {
        content: "♢";
        margin-right: 0.25rem;
    }
}

footer a {
    color: var(--green-3);
}