body{
	padding: 20px;
	/*width: 3000px;*/
	/*color: white;*/
	background: #848b79;
}
.auth{
	font-size: 4px;
	font-style: normal;
}
.bk{
	padding: 3px;
	padding-top: 9px;
	height: 18px;
	width: 154px;
	font-family: palatino;
	font-size: 7px;
	/*font-variant: small-caps;*/
	/*font-weight: bold;*/
	text-align: center;
	transform: rotate(90deg);
	transform-origin: 15px 15px;
	color: #e5e4e2;
	background: linear-gradient(#3d3c3a, transparent, transparent, transparent, transparent, #3d3c3a);
	background: linear-gradient(#3d3c3a, transparent, transparent, transparent, transparent, #3d3c3a), repeating-linear-gradient(#827b60, transparent 8px), repeating-linear-gradient(to right, #827b60, transparent 8px), #786d5f;
	/*background: orange;*/
}
.bk div{
	float: left;
}
.bki{
	padding-top: 2.75%;
	font-size: 3px;
}
.bkin{
	padding-top: 2%;
	width: 85px;
	font-size: 4px;
	/*font-weight: normal;*/
	font-style: italic;
	/*background: lightblue;*/
}
.bkin2{
	padding-top: 3%;
	font-family: sans-serif;
	font-size: 2.5px;
	/*font-weight: normal;*/
	text-transform: uppercase;
	float: right;
	/*background: limegreen;*/
}
.container{
	height: 850px;
	width: 900px;
}
.cub{
	padding-left: 16px;
	padding-right: 21px;
	float: left;
	box-shadow: inset 15px 15px 55px -20px black;
}
.cubber{
	z-index: 1;
	margin: 20px;
	border: 20px solid #786d5f;
	float: left;
	box-shadow: 15px 15px 25px #3d3c3a;
}
.hsk{
	z-index: -1;
	margin-top: 30px;
	/*margin-left: 1px;*/
	/*margin-bottom: 13px;*/
	height: 160px;
	width: 30px;
	float: left;
	background: green;
	box-shadow: 0px 8px 10px -1px black;
	transform: rotate(-15deg);
}



















#cubHP{
	padding-left: 0px;
	padding-right: 0px;
	font-weight: bold;
}
#cubHP .hsk{
	height: 140px;
}
#HP1, #HP2, #HP3, #HP4, #HP5, #HP6, #HP7{
	z-index: -1;
	margin-top: 50px;
	margin-bottom: 0px;
	transform: rotate(0deg);
	opacity: .8;
	box-shadow: 3px 1px 10px -2px black;
}
#HP1{
	width: 19px;
}
#HP1 .auth{
	color: #d4a017;
}
#HP1 .bk{
	padding-top: 3px;
	height: 13px;
	transform-origin: 9.5px 9.5px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0c090a), linear-gradient(to right, #c52855, #c52855 30px, #232280 30px, #232280 113px, #f7ae09 113px, #f7ae09);
}
#HP1 .bkin2{
	color: black;
}
#HP2{
	width: 20px;
}
#HP2 .auth{
	color: #2b547e;
}
#HP2 .bk{
	padding-top: 4px;
	height: 13px;
	transform-origin: 10px 10px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0c090a), linear-gradient(to right, #2554c7, #2554c7 30px, #4aa02c 30px, #4aa02c 113px, #dc381f 113px, #dc381f);
}
#HP2 .bkin{
	color: #2b3856;
}
#HP2 .bkin2{
	color: black;
}
#HP3{
	width: 26px;
}
#HP3 .bk{
	padding-top: 7px;
	height: 16px;
	transform-origin: 13px 13px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0c090a), linear-gradient(to right, #774395, #774395 30px, #ff2019 30px, #ff2019 113px, #151a1d 113px, #151a1d);
}
#HP3 .bki{
	color: #ffcba4;
}
#HP3 .bkin{
	color: #810541;
}
#HP3 .bkin2{
	color: #d4a017;
}
#HP4{
	width: 47px;
}
#HP4 .auth{
	color: #e55451;
}
#HP4 .bk{
	padding-top: 17px;
	height: 27px;
	transform-origin: 23.5px 23.5px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0c090a), linear-gradient(to right, #ff4429, #ff4429 30px, #293e91 30px, #293e91 113px, #0795e9 113px, #0795e9);
}
#HP4 .bki{
	color: #2b547e;
}
#HP4 .bkin{
	color: #368bc1;
}
#HP4 .bkin2{
	color: #2b3856;
}
#HP5{
	width: 46px;
}
#HP5 .auth{
	color: #cfecec;
}
#HP5 .bk{
	padding-top: 16px;
	height: 27px;
	transform-origin: 23px 23px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0c090a), linear-gradient(to right, #fff34f, #fff34f 30px, #ca444b 30px, #ca444b 113px, #2a4095 113px, #2a4095);
}
#HP5 .bki{
	color: #e55451;
}
#HP5 .bkin{
	color: #e2a76f;
}
#HP5 .bkin2{
	color: #ffcba4;
}
#HP6{
	width: 40px;
}
#HP6 .auth{
	color: #306eff;
}
#HP6 .bk{
	padding-top: 13px;
	height: 24px;
	transform-origin: 20px 20px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0c090a), linear-gradient(to right, #3a49a4, #3a49a4 30px, #45a335 30px, #45a335 113px, #27308b 113px, #27308b);
}
#HP6 .bki{
	color: green;
}
#HP7{
	width: 34px;
}
#HP7 .auth{
	color: white;
}
#HP7 .bk{
	padding-top: 11px;
	height: 20px;
	transform-origin: 17px 17px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0c090a), linear-gradient(to right, #463869, #463869 30px, #eb2e11 30px, #eb2e11 113px, #151a1d 113px, #151a1d);
}
#HP7 .bkin{
	color: #3b3131;
}



















.ozNum{
	/*margin-top: 0px;*/
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid;
	border-radius: 50%;
	/*border-style: double;*/
	/*font-family: palatino;*/
	font-size: 9px;
	/*font-weight: normal;*/
	line-height: 12px;
	height: 12px;
	width: 12px;
	/*float: left;*/
	transform: rotate(-90deg);
	/*background: pink;*/
}
.ozz{
	font-size: 10px;
	font-weight: normal;
	vertical-align: middle;
}
#cubOz{
	padding-left: 0px;
	padding-right: 0px;
}
#cubOz .auth{
	margin-top: 5px;
	width: 30px;
	font-family: palatino;
	font-size: 3px;
	/*font-weight: normal;*/
	line-height: normal;
	/*word-spacing: normal;*/
	text-transform: uppercase;
	float: right;
	/*transform-origin: 6px 6px;*/
	/*background: gray;*/
}
#cubOz .hsk{
	margin-left: 0px;
	/*margin-bottom: 0px;*/
	height: 160px;
	width: 25px;
	transform: rotate(0deg);
}
#cubOz .bk{
	padding-top: 8px;
	height: 14px;
	font-family: palatino;
	font-size: 4px;
	font-weight: normal;
	/*word-spacing: 9999px;*/
	/*word-spacing: 100vw;*/
	line-height: 200%;
	transform-origin: 12.5px 12.5px;
	background: linear-gradient(#3d3c3a, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #3d3c3a);
	/*background: pink;*/
}
#cubOz .bkNm{
	width: 85px;
	font-weight: bold;
	/*background: pink;*/
}
#cubOz .bkp1{
	margin-top: -8px;
	margin-left: -3px;
	padding-top: 5px;
	height: 20px;
	width: 100%;
	line-height: 14px;
	/*transform: rotate(0deg);*/
	/*transform-origin: 7px 7px;*/
	/*background: orange;*/
}
#oz1{
	background: #e6ca86;
	background: url("textures/oz1.png");
}
#oz1 .bk{
	color: #254117;
}
#oz2{
	background: #a3a13e;
	background: url("textures/oz2.png");
}
#oz2 .bk{
	color: #483c32;
}
#oz3{
	background: #caa66c;
	background: url("textures/oz3.png");
}
#oz3 .bk{
	color: #2c3539;
}
#oz4{
	background: #608b8e;
	background: url("textures/oz4.png");
}
#oz4 .bk{
	color: #2c3539;
}
#oz5{
	background: #b1a64b;
	background: url("textures/oz5.png");
}
#oz5 .bk{
	color: #2c3539;
}
#oz6{
	background: #ebe3cc;
	background: url("textures/oz6.png");
}
#oz6 .bk{
	color: #566d7e;
}
#oz7{
	background: #aeac51;
	background: url("textures/oz7.png");
}
#oz7 .bk{
	color: #387c44;
}
#oz8{
	background: #c19c60;
	background: url("textures/oz8.png");
}
#oz8 .bk{
	color: #566d7e;
}
#oz9{
	background: #658942;
	background: url("textures/oz9.png");
}
#oz9 .bk{
	color: #2b3856;
}
#oz10{
	background: #a5b8a0;
	background: url("textures/oz10.png");
}
#oz10 .bk{
	color: #3d3c3a;
}
#oz11{
	background: #74a19f;
	background: url("textures/oz11.png");
}
#oz11 .bk{
	color: #3d3c3a;
}
#oz12{
	background: #873534;
	background: url("textures/oz12.png");
}
#oz12 .bk{
	color: #0c090a;
}
#oz13{
	background: #a19b67;
	background: url("textures/oz13.png");
}
#oz13 .bk{
	color: #3d3c3a;
}
#oz14{
	background: #c88c4b;
	background: url("textures/oz14.png");
}
#oz14 .bk{
	color: #3d3c3a;
}




















#cubOzzie{
	padding-left: 17px;
}
#cubOzzie .hsk{
	height: 160px;
	width: 18px;
	margin-left: 0px;
	/*margin-bottom: 0px;*/
}
#cubOzzie .auth{
	margin-top: 4.5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 10px;
	line-height: 110%;
	font-variant: small-caps;
	float: right;
	/*background: brown;*/
}
#cubOzzie .bk{
	margin-left: -12px;
	padding-top: 0px;
	/*padding-left: 5px;*/
	height: 15px;
	line-height: 15px;
	color: #bcc6cc;
	/*background: linear-gradient(#3d3c3a, transparent, transparent, transparent, transparent, #3d3c3a), linear-gradient(to right, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383, #616d7e, #657383);*/
	/*background: linear-gradient(#3d3c3a, transparent, transparent, transparent, transparent, #3d3c3a), linear-gradient(to right, var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b), var(--a), var(--b));*/
	background: linear-gradient(#3d3c3a, transparent, transparent, transparent, transparent, #3d3c3a), repeating-linear-gradient(var(--a), transparent 4px), repeating-linear-gradient(to right, var(--a), transparent 4px), var(--b);
	background-repeat: repeat;
	/*background: pink;*/
	--a: #6d7b8d;
	--b: #566d7e;
}
#cubOzzie .bkNm{
	padding-top: 1px;
	width: 72%;
	font-size: 5px;
	text-align: center;
	/*background: darkslateblue;*/
}
#cubOzzie .ozzieHsk{
	margin-right: 2px;
	transform: rotate(20deg);
	box-shadow: 3px 8px 10px -1px black;
}
#oz15 .bk{
	--a: #6d7b8d;
	--b: #566d7e;
}
#oz16 .bk{
	color: #616d7e;
	--a: #afdcec;
	--b: #cfecec;
}
#oz17 .bk{
	color: #3d3c3a;
	--a: #659ec7;
	--b: #368bc1;
}
#oz18 .bk{
	color: #4c4646;
	--a: #c2b280;
	--b: #ada96e;
}
#oz19 .bk{
	--a: #666362;
	--b: #786d5f;
}
#oz20 .bk{
	--a: #6d7b8d;
	--b: #566d7e;
}
#oz21 .bk{
	--a: #827b60;
	--b: #786d5f;
}
#oz22 .bk{
	color: #3d3c3a;
	--a: #659ec7;
	--b: #6495ed;
}
#oz23 .bk{
	color: #3d3c3a;
	--a: #a0cfec;
	--b: #bdedff;
}
#oz24 .bk{
	color: #3d3c3a;
	--a: #cfecec;
	--b: #a0cfec;
}
#oz25 .bk{
	color: #3d3c3a;
	--a: #92c7c7;
	--b: #a0cfec;
}
#oz26 .bk{
	color: #3d3c3a;
	--a: #78866B;
	--b: #617c58;
}
#oz27 .bk{
	--a: #786d5f;
	--b: #827b60;
}
#oz28 .bk{
	color: #254117;
	--a: #99c68e;
	--b: #9cb071;
}
#oz29 .bk{
	color: #3b3131;
	--a: #617c58;
	--b: #78866B;
}
#oz30 .bk{
	color: #4c4646;
	--a: #9cb071;
	--b: #99c68e;
}
#oz31 .bk{
	color: #34282c;
	--a: #af9b60;
	--b: #827839;
}
#oz32 .bk{
	--a: #4c4646;
	--b: #2c3539;
}
#oz33 .bk{
	--a: #5c5858;
	--b: #3d3c3a;
}
#oz33{
	margin-right: 50px;
}
#oz34 .bk{
	--a: #646d7e;
	--b: #5e5a80;
}
#oz35 .bk{
	color: #e5e4e2;
	--a: #848482;
	--b: #666362;
}
#oz36 .bk{
	color: #e5e4e2;
	--a: #616d7e;
	--b: #728fce;
}
#oz37 .bk{
	color: #3d3c3a;
	--a: #b4cfec;
	--b: #56a5ec;
}
#oz38 .bk{
	color: #3d3c3a;
	--a: #cfecec;
	--b: #b4cfec;
}
#oz37 .auth, #oz38 .auth{
	margin-top: 7px;
}
#oz39 .bk{
	color: #3d3c3a;
	--a: #b4cfec;
	--b: #ebf4fa;
}
#oz40 .auth{
	font-size: 3px;
}
#oz40 .bk{
	color: #000000;
	--a: #92c7c7;
	--b: #4e8975;
}
#oz41 .bk{
	color: #000000;
	--a: #4e9258;
	--b: #617c58;
}
#oz42 .bk{
	color: #3d3c3a;
	--a: #99c68e;
	--b: #9cb071;
}
#oz43 .bk{
	--a: #835c3b;
	--b: #6f4e37;
}



















#cubLotR{
	padding-left: 0px;
	padding-right: 0px;
}
#cubLotR .auth{
	margin-top: -4px;
	margin-left: 5px;
	height: 20px;
	width: 22px;
	font-family: verdana;
	transform: rotate(-90deg);
	/*background: darkblue;*/
}
#cubLotR .bk{
	color: #c68e17;
	/*background: pink;*/
}
#cubLotR .hsk{
	/*margin-right: 15px;*/
	transform: rotate(0deg);
}
#cubLotR .LotRhst{
	width: 45px;
	box-shadow: 3px 8px 10px -1px black;
}
#cubLotR .LotRhst .auth{
	margin-top: 3px;
	margin-left: 1px;
	width: 35px;
	font-size: 6px;
	/*background: darkslateblue;*/
}
#cubLotR .LotRhst .bk{
	margin-left: 15px;
	height: 33px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, #0c090a), repeating-linear-gradient(#1f1e1d, transparent 8px), repeating-linear-gradient(to right, #1f1e1d, transparent 8px), #100f0f;
}
#cubLotR .LotRhst .nam{
	margin-top: 1px;
	width: 80px;
	font-size: 8px;
	font-weight: normal;
	line-height: 100%;
	/*background: purple;*/
}
#cubLotR .LotRhst .num{
	margin-top: 2px;
	width: 30px;
	font-size: 13px;
	/*background: pink;*/
}
#cubLotR .nam{
	margin-top: -5px;
	height: 22px;
	width: 100px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	text-shadow: -0.5px 0px #eac117;
	/*background-clip: text;*/
	/*background: purple;*/
}
#cubLotR .namElse{
	position: absolute;
	font-size: 4px;
	text-shadow: none;
}
#cubLotR .namLS{
	position: absolute;
	top: 4px;
	font-size: 20px;
	font-weight: normal;
	text-shadow: -0.5px 0px #eac117;
}
#cubLotR .num{
	margin-top: -5px;
	/*margin-left: 5px;*/
	margin-right: 5px;
	height: 22px;
	width: 20px;
	font-size: 10px;
	line-height: 22px;
	transform: rotate(-90deg);
	/*background: gray;*/
}
#cubLotR #LotRhb{
	width: 25px;
}
#cubLotR #LotRhb .bk{
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, #0c090a), repeating-linear-gradient(#000000, #000000 0.5px, transparent 0.5px, transparent 1px), repeating-linear-gradient(to right, #000000, #000000 0.5px, transparent 0.5px, transparent 1px), linear-gradient(-45deg, #0e0e15 30%, #102816 55%, #151911 80%, #162a3f);
}
#cubLotR #LotRhb .auth{
	margin-top: -6.5px;
}
#cubLotR #LotRhb .bk{
	margin-left: -5px;
	height: 13px;
}
#cubLotR #LotRhb .nam{
	margin-top: -5.5px;
	margin-left: 25px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.5;
}
#cubLotR #LotRhb #namL{
	top: 2px;
	left: 49px;
	font-size: 16px;
}
#cubLotR #LotRhb #namS{
	top: 2px;
	left: 93px;
	font-size: 16px;
}
#cubLotR #LotRhb #nam1{
	top: -3px;
	left: 63px;
	font-size: 3.5px;
}
#cubLotR #LotRsl{
	margin-left: 12px;
	margin-right: 66px;
	width: 25px;
	transform: rotate(-30deg);
	transform-origin: 34px 34px;
}
#cubLotR #LotRsl .auth{
	margin-top: -6.5px;
}
#cubLotR #LotRsl .bk{
	margin-left: -5px;
	height: 13px;
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, #0c090a), repeating-linear-gradient(#2c3539, transparent 8px), repeating-linear-gradient(to right, #2c3539, transparent 8px), #3d3c3a;
}
#cubLotR #LotRsl .nam{
	margin-top: -5.5px;
	margin-left: 25px;
	font-size: 9.5px;
	font-weight: normal;
	letter-spacing: 0.5;
}
#cubLotR #LotRsl #namL{
	top: 2px;
	left: 37px;
	font-size: 14px;
}
#cubLotR #LotRsl #namS{
	top: 2px;
	left: 110px;
	font-size: 14px;
}
#cubLotR #LotRsl #nam1{
	left: 46px;
}
#cubLotR #LotR1{
	opacity: 0.9;
}
#cubLotR #LotR1 .bk{
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, #0c090a), repeating-linear-gradient(#000000, #000000 0.5px, transparent 0.5px, transparent 1px), repeating-linear-gradient(to right, #000000, #000000 0.5px, transparent 0.5px, transparent 1px), linear-gradient(to right, #161b1d 15%, #312d16 25%, #2c2718 30%, #322306 40%, #090c08 55%, #0b120b 60%, #101f10 70%, #0D1D0E 75%, #2c3539 90%);
}
#cubLotR #LotR1 #nam3{
	left: 48px;
}
#cubLotR #LotR2{
	opacity: 0.9;
}
#cubLotR #LotR2 .bk{
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, #0c090a), repeating-linear-gradient(#000000, #000000 0.5px, transparent 0.5px, transparent 1px), repeating-linear-gradient(to right, #000000, #000000 0.5px, transparent 0.5px, transparent 1px), linear-gradient(to right, #2c3539 5%, #243039 25%, #12181d 40%, #243039 55%, #2c3336 65%, #292d31 75%, #1c1f22 90%);
}
#cubLotR #LotR2 #nam3{
	left: 60px;
}
#cubLotR #LotR3{
	opacity: 0.9;
}
#cubLotR #LotR3 .bk{
	background: linear-gradient(#0c090a, transparent, transparent, transparent, transparent, #0c090a), repeating-linear-gradient(#000000, #000000 0.5px, transparent 0.5px, transparent 1px), repeating-linear-gradient(to right, #000000, #000000 0.5px, transparent 0.5px, transparent 1px), linear-gradient(to right, #2c3539 15%, #1b1c29 30%, #30334c 40%, #40292f 55%, #240e23 60%, #09191c 65%, #19261f 70%, #293222 85%, #2c3539);
}
#cubLotR #LotR3 #nam3{
	left: 51px;
}
#cubLotR #namL{
	left: 34px;
}
#cubLotR #namS{
	top: 5px;
	left: 112px;
	font-size: 18px;
}
#cubLotR #nam1{
	top: -2px;
	left: 44px;
}
#cubLotR #nam2{
	top: 9px;
	left: 71px;
	line-height: 100%;
}
#cubLotR #nam3{
	top: 10px;
}